/* General CSS */

body.sidebar-toggled #accordionSidebar {
    display: none !important;
}

body.sidebar-toggled #content-wrapper {
    margin-left: 0 !important;
    width: 100% !important;
}

/* Customize CSS for Dashboard */
.card-category {
    font-weight: 700;
}

.btn-square {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.8rem;
    /* Makes icon bigger */
    min-width: 40px;
    /* Optional: minimum size */
    min-height: 40px;
    max-width: 70px;
    /* Optional: max size for responsiveness */
    max-height: 70px;
}

@media (max-width: 575.98px) {
    .btn-square {
        font-size: 1.5rem;
        min-width: 30px;
        min-height: 30px;
    }
}

/* Customize Category */

.form-label {
    font-weight: 600;
    color: #212529;
}

/* .btn-success {
    padding: 0.6rem 2rem;
    font-weight: 600;
} */

.btn-success:hover {
    background-color: #218838;
}